<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SqlConnection" value="server=localhost;user=root;password=admin;database=diia;port=3306;"/>
    <add key="FileServer" value="\\localhost\repository"/>
    <add key="ImageServer" value="\\localhost\images"/>
    <add key="RecycleBin" value="\\localhost\recycle"/>
    <add key="BackupPath" value="C:\\Backup\\"/>
    <add key ="Password" value="echosystems"/>
    <add key="AppDLLs" value="Administration.dll,Common.dll,Configuration.dll,FileManager.dll,FileSearch.dll"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
